/*
Auuugh
*/

.review {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
	overflow: hidden;
	display: inline-block;
}

blockquote {
	border: 3px solid black;
	background-color: gray;
	border-radius: 10px;
	padding: 15px;
	margin: 10px 0;
	align-items: center;
	display: flex;
	position: relative;
	justify-content: flex-start;
	overflow: hidden;
	word-wrap: break-word;
}

blockquote img {
	width: 128px;
	height: 128px;
	margin-left: 15px;
	margin-bottom: 0;
	flex-shrink: 0;
}

blockquote p {
	word-wrap: bread-word;
}