/*
Auuugh
*/

@font-face {
    font-family: "Minecraftia";
    src: url(../AuuughSMP/css/Minecraftia.woff2) format("woff2"),
		 url(../AuuughSMP/css/Minecraftia.ttf) format("truetype");
}

body {
	background-image: url("../Main/YippeeSMP BG.png");
	background-size: 10%;
	animation: scrollBackground 30s linear infinite;
}

@keyframes scrollBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

body, html {
	font-family: "Minecraftia", sans-serif;
	font-size: 24px;
}

.YippeeLogo {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px
}

.home-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
}

.home-btn:hover {
    filter: invert(100%);
}

.group {
	display: flex;
	animation: spin 10s infinite linear;
	padding-right: 1em;
}

.carousel {
	width: 99%;
	display: flex;
	overflow-x: auto;
}

.carousel::-webkit-scrollbar {
	display: none;
}

.card {
	height: 5em;
	padding: 5px;
	font-size: 3rem;
	border-radius: .2em;
	text-align: center;
	align-content: center;
}

@keyframes spin {
	from {translate: 0;}
	to {translate: -100%;}
}

.carousel .card {
	width: 256px;
	height: 256px;
	overflow: hidden;
	border-radius: 8px;
}

.carousel .card img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.descriptionText {
	font-size: 36px;
	border: 5px solid black;
	background: gray;
}

.descriptionText p {
	padding: 10px;
}

h1 {
	font-size: 56px;
	text-align: center;
	color: black;
	text-shadow: 
		-1px -1px 0 #fff,  
		1px -1px 0 #fff,
		-1px  1px 0 #fff,
		1px  1px 0 #fff;
}

.modpackTable table {
	width: 100%;
}

.modpackTable p {
	padding: 15px;
	font-size: 48px;
	color: black;
	border: 5px solid black;
	background: gray;
}

.modpackTable img {
	width: 512px;
}

.ip {
	display: block;
	margin-left: 18%;
}

.ip img:hover {
	filter: brightness(2);
}